{% extends 'base/main.html'%}

{% block content%}

<div>
    <form action="" method = "">
        <input type="search" name="q" >
        <input type="submit" name='submit'>

    </form>
   
</div>

<div>
        {%for question  in questions %}
            <div>
                <p>@{{question.user}}</p> 
              
                    
                <h3>{{question.question_title}}</h3>
                <a href="{%url 'check-question' question.id %}">Guess answer here</a>
               

            <br>
            {% if request.user == question.user %}
            <a href="{%url  'edit-question' question.id %}">Edit</a>
            <a href="{%url 'delete-question' question.id %}">Delete</a>
        {%endif%}
                    
        <hr>

            </div>
        {%endfor%}
</div>

{% endblock content %}